.card-shadow {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .paciente, .descricao {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .crianca {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .custom-header {
    background-color: #007bff; 
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .header-nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  
  .header-nav a {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .header-nav a:hover {
    color: #cce5ff; 
  }
  
  .nav-underline .nav-link {
    color: #333;
    transition: color 0.3s;
  }
  
  .nav-underline .nav-link:hover {
    color: #007bff;
  }  